{% extends 'base.html.twig' %}

{% block title %}Hello ProfileController!{% endblock %}

{% block body %}

    <div>Your email: {{ app.user.email }}</div>

    <div>Your role(s):</div>
    {% for roles in app.user.roles %}
        <div>{{ roles }}</div>
    {% endfor %}

    <div><a href="{{ path('app_edit_user') }}">Edit user</a></div>

{% endblock %}
