docker/*
!docker/supervisor
!docker/cron
!docker/webserver
docker-compose.yml
manifests/*
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
.git
.env
vendor
node_modules
.gitlab-ci.yml
web/build
web/bundles
